.pokemon-modal-detail{
    background-color: white;
    border-radius: 1rem;
    display: flex;

    .pokemon-image{
        background-color: #e2e4ef;
        border-radius: 1rem;
        margin: 5%;
        width: 50%;
    }
    .pokemon-modal-detail-info{
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .types{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 1%;
            width: 100%;
            height: auto;
            border-radius: 1rem;
            padding: 1%;

            .type{
                text-align: left;
                
            }
        }

        .attacks{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 1%;
            width: 100%;
            height: auto;
            border-radius: 1rem;
            padding: 1%;

            .attack{
                text-align: left;
                
            }
        }
    }
}

.item-detail-container {
  background-color: white;
  height: 77vh;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  min-width: 500px;

  .pokemon-image {
    max-width: 100%;
  }

  .title-container {
    width: 100%;
    position: relative;
    text-align: center;
    color: black;

    .title {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      font-weight: bold;
    }
    img {
      width: 100%;
      max-width: 768px;
    }
  }

  .footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    .footer-option {
      display: flex;
      flex-direction: row;
      margin-top: -20px;
      align-content: center;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      color: black;

      img {
        background-color: #e2e4ef;
        border-radius: 1rem;
        margin-right: 10px;
        width: 5rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .item-detail-container {
    .title-container {
      .title {
        position: absolute;
        top: -18%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-weight: bold;
      }
    }

    .footer {
      .footer-option {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-height: 875px) {
  .item-detail-container {
    overflow-y: auto;
  }
}
