.item-detail-container {
  background-color: white;
  height: 77vh;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  min-width: 500px;

  .pokemon-image {
    max-width: 100%;
  }

  .title-container {
    width: 100%;
    position: relative;
    text-align: center;
    color: black;

    .title {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      font-weight: bold;
    }
    img {
      width: 100%;
      max-width: 768px;
    }
  }

  .footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    .footerback,
    .footernext {
      text-align: center;
      width: 50px;
      float: left;
      border: 1px solid black;
    }
  }
}

@media screen and (max-width: 1000px) {
  .item-detail-container {
    .title-container {
      .title {
        position: absolute;
        top: -18%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}


@media screen and (max-height: 875px) {
    .item-detail-container {
      overflow-y: auto;
    }
  }
  